<div class="advanced-instruction-wrapper"
     data-bs-toggle="collapse"
     data-bs-target="#<%= locals[:id] %>"
     aria-expanded="false"
     aria-controls="<%= locals[:id] %>"
>
  <span class="big-blue-plus">+</span>
  <span class="big-text"><%= locals[:title] %></span>
  <div class="collapse" id="<%= locals[:id] %>">
    <br>
    <%= yield %>
  </div>
</div>
