<div class="card wide-card my-3">
  <div class="step-wrapper">
    <span class="step-number"><%= locals[:number] %></span>
    <div class="step">
      <h3 class="step-title"><%= locals[:title] %></h3>
      <div class="step-instructions">
        <%= yield %>
      </div>
    </div>
  </div>
  <div class="<%= 'step-actions ' unless locals[:hide_actions] %>flex-column-centred">
    <%= yield :buttons %>
  </div>
</div>
