<h1 class="text-center mb-5">Enter your server data</h1>
<div class="mb-4 text-center">
  <p>Is your server connected to the internet?</p>
  <input type="radio" id="radio-yes" name="internet" value="yes" checked="checked">
  <label for="yes">Yes</label>
  <input type="radio" id="radio-no" name="internet" value="no">
  <label for="no">No</label>
</div>

<%= render 'step_card', locals: {
  number: 1,
  title: 'Make an account (optional)',
  show_card: { online: true, offline: true },
} do %>
  <% content_for :buttons, :flush => true do %>
    <%= link_to "Sign up", new_registration_path(:user) %>
  <% end %>
  <p>
    Make an account to claim your servers on the leaderboard and get
    access to tools for tracking your server emission stats more easily.
  </p>
<% end %>
<%= render 'step_card', locals: {
  number: 2,
  title: 'Download the Carbon Client',
  show_card: { online: false, offline: true },
} do %>
  <% content_for :buttons, :flush => true do %>
    <%= link_to "Download", action: :download_carbon %>
  <% end %>
  <p>
    The Carbon Client is a BASH script which collects the required data for
    adding entries to the Carbon Leaderboard.
  </p>
<% end %>
<%= render 'step_card', locals: {
  number: 3,
  title: 'Run the Carbon Client on your server',
  hide_actions: true,
  show_card: { online: false, offline: true },
} do %>
  <% content_for :buttons, :flush => true do %>
    <div></div>
  <% end %>
  <p>
    To collect data on your server emissions and enter onto the leaderboard,
    save the Carbon Client on your server and run the following command:
  </p>
  <p class="text-center mb-4">
    <code class="code-block">bash carbon send</code>
  </p>
  <p>
    This is all you need to run to submit your server data to the leaderboard.
    However, you can find information below about more advanced options, such
    as associating your servers with your user account.
  </p>
<% end %>
<%= render 'step_card', locals: {
  number: 4,
  title: 'Upload your data manually',
  show_card: { online: false, offline: true },
} do %>
  <% content_for :buttons, :flush => true do %>
    <%= form_with url: "/data-entry/upload", multipart: true do |form| %>
      <%= file_field_tag :device %>
      <%= submit_tag "Upload", class: "button" %>
      <% if params[:upload_status] %>
        <% if params[:upload_status].empty? %>
          <span>Upload successful</span>
        <% else %>
          <span>Upload failed: <%= params[:upload_status] %></span>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <p>
    If your system has internet access, you can skip this step! Otherwise, the
    Carbon Client will create a payload file at <code>carbon-log/payload-${UUID}.json</code>
    which can be manually uploaded to the OpenFlight Carbon Leaderboard.
  </p>
<% end %>
<%= render 'step_card', locals: {
  number: 5,
  title: 'See how your server does on the leaderboard!',
  show_card: { online: true, offline: true },
} do %>
  <% content_for :buttons, :flush => true do %>
    <%= link_to "View leaderboard", leaderboard_path %>
  <% end %>
<% end %>

<script type="text/javascript" src="/assets/data_entry/index.js"></script>
