<div class="card login flex-column-centred">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="icon-wrapper email-field">
      <%= f.email_field :email, class: 'text-field', autocomplete: "email", placeholder: 'Email', maxlength: '40' %>
    </div>

    <div class="icon-wrapper username-field">
      <%= f.text_field :username, class: 'text-field', autocomplete: "username", placeholder: 'Username', maxlength: '18' %>
    </div>

    <div class="icon-wrapper password-field">
      <%= f.password_field :password, class: 'text-field', autocomplete: "new-password", placeholder: 'Password', maxlength: '40' %>
    </div>

    <div id='user_submit' class="general-button glaring">Sign up</div>

    <%= render "devise/shared/links" %>
  <% end %>

</div>

<script type="text/javascript" src="/assets/devise/registrations/new.js"></script>
