<div id="nav-bar" class="px-2">
    <a
      href="<%= root_path %>"
      title="OpenFlightHPC Carbon Leaderboard"
      class="top-left section"
    >
      <%= image_tag "logo.svg", class: "logo" %>
      <div id ="logo-text">
        <span>OpenFlightHPC</span><br>
        <span>Carbon leaderboard</span>
      </div>
    </a>

  <div class="centre section">
      <div id="leaderboard-link-wrapper" class="nav-link-wrapper nav-link-dropdown-wrapper d-flex align-items-center">
        <%= link_to "Leaderboards", leaderboard_path, class: "nav-link px-3" %>
        <div class="dropdown-wrapper d-flex justify-content-center">
          <ul class="dropdown-list">
            <%= link_to "Device leaderboard", leaderboard_path, class: "nav-dropdown-link px-2 glaring" %>
            <%= link_to "Server leaderboard", leaderboard_path, class: "nav-dropdown-link px-2 glaring" %>
          </ul>
        </div>
      </div>
      <div id="leaderboard-link-wrapper" class="nav-link-wrapper d-flex align-items-center">
        <%= link_to "Servers", show_devices_path, class: "nav-link px-3" %>
      </div>
  </div>

  <div class="top-right section">
    <% if user_signed_in? %>
      <div id="leaderboard-link-wrapper" class="nav-link-wrapper nav-link-dropdown-wrapper d-flex align-items-center">
        <%= link_to current_user.username, "#", class: "nav-link px-3" %>
        <div class="dropdown-wrapper d-flex justify-content-center">
          <ul class="dropdown-list">
            <%= link_to "Sign out", destroy_user_session_path, class: "nav-dropdown-link px-2 glaring" %>
          </ul>
        </div>
      </div>
    <% else %>
      <div id="leaderboard-link-wrapper" class="nav-link-wrapper d-flex align-items-center">
        <%= link_to "Log in", new_user_session_path, class: "nav-link px-3" %>
      </div>
    <% end %>
    <a
      class="powered"
      href="https://alces-flight.com/"
      target="_blank"
    >
      <%= image_tag "poweredby.svg", class: "logo" %>
    </a>
  </div>
</div>
