<% dev = locals[:device] %>
<div id="map-card" class="cl-card flex-column-centred full-width mb-4">
  <h2 class="mb-4">Location</h2>
  <div id="map-wrapper" class="full-width"></div>
</div>

<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/map.js"></script>
<script src="https://cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>
<script>
  const root = am5.Root.new("map-wrapper");
  const chart = root.container.children.push(
    am5map.MapChart.new(root, {
      panX: "rotateX",
      projection: am5map.geoEqualEarth()
    })
  );
  const polygonSeries = chart.series.push(
    am5map.MapPolygonSeries.new(root, {
      geoJSON: am5geodata_worldLow,
      fill: am5.color(0x2794d8),
    })
  );
  const pointSeries = chart.series.push(
    am5map.MapPointSeries.new(root, {})
  );
  pointSeries.bullets.push(function () {
    var container = am5.Container.new(root, {});
    var color = am5.color(0x404040);
    var radius = 20;
    var pole = container.children.push(am5.Line.new(root, {
      stroke: color,
      height: -22,
      strokeWidth: 3,
      strokeGradient: am5.LinearGradient.new(root, {
        stops: [
          {opacity: 1},
          {opacity: 1},
          {opacity: 0}
        ]
      })
    }));
    var label = container.children.push(am5.Label.new(root, {
      centerX: am5.p50,
      centerY: am5.p50,
      dy: -radius * 2 + 1,
    }))
    label.set('html',
      `<span
         class="flag map fi fi-<%= dev.two_digit_location.downcase %> fis"
         title="<%= dev.pretty_group %> is located in <%= dev.full_country_name %>"
         style="font-size: ${radius * 1.6}px; height: ${radius * 1.6}px;">
       </span>`);

    return am5.Bullet.new(root, {
      sprite: container
    });
  });
  pointSeries.data.setAll([{
    geometry: {
      type: "Point",
      coordinates: [<%= dev.country.longitude %>, <%= dev.country.latitude %>]
    }
  }]);
</script>
