<h1 id="welcome">Making HPC greener</h1>
<p id="welcome-tagline">
  Finding the most carbon efficient HPC solutions by ranking the emissions of real servers.
</p>

<div class="cl-card flex-column-centred my-5">
  <h3>Top most carbon efficient servers</h3>
  <p>Ranked by estimated equivalent CO<sub>2</sub> emissions per core at full load.</p>

  <div class="home-leaderboard leaderboard-wrapper mt-4">
    <div class="leaderboard-content-wrapper">
      <% countries = %w(se it sc) %>
      <% (1..3).each do |rank| %>
        <div class="leaderboard-item-wrapper blurred-frame rank-<%= rank %>">
          <div class="leaderboard-item glare"></div>
          <div class="leaderboard-item rank-column"><%= rank %></div>
          <div>
            <span class="top-line"><%= @devices[rank - 1][0].first(8) %></span><br>
            <span><%= @devices[rank - 1][1] %></span>
          </div>
          <div></div>
          <div><span class="flag fi fi-<%= @devices[rank - 1][2].downcase %> fis"></span></div>
        </div>
      <% end %>
    </div>
  </div>

  <%= button_to "View full leaderboard", leaderboard_path, class: 'button mt-3', method: :get %>

</div>

<script type="text/javascript" src="/assets/report/glare.js"></script>
