<h1 id="welcome">How green are your HPC/AI resources?</h1>
<p id="welcome-tagline">
  Working towards greener HPC/AI by improving understanding of the carbon impact of HPC/AI solutions. Get and compare your carbon impact estimates in the leaderboard today!
</p>

<%= button_to "Enter your server data", data_entry_path, class: 'button glaring big-text my-5', method: :get %>

<div class="home-top-section my-4">
  <%= render 'counter', locals: { number: @num_devices, text: 'servers entered' } %>

  <div class="cl-card flex-column-centred">
    <h3>Top most carbon efficient server types</h3>
    <p>Ranked by estimated equivalent CO<sub>2</sub> emissions per core at full load.</p>
    <% if @groups.empty? %>
      <p class="big-text mt-5">No server data has been entered yet</p>
    <% else %>
      <div class="home-leaderboard leaderboard-wrapper mt-4">
        <div class="leaderboard-content-wrapper">
          <% @groups.each_with_index do |group, index| %>
            <a href="/group/<%= group[:group_index] %>">
              <div class="leaderboard-item-wrapper blurred-frame rank-<%= index + 1 %>">
                <div class="leaderboard-item glare"></div>
                <div class="leaderboard-item rank-column"><%= index + 1 %></div>
                <div class="group-name">
                  <span class="big-text"><%= group[:display_name] %></span><br>
                  <span><%= "with #{group[:count]} server#{'s' * [1, group[:count]-1].min}" %></span>
                </div>
                <div></div>
                <div><span class="flag fi fi-<%= group[:location].downcase %> fis"></span></div>
              </div>
            </a>
          <% end %>
        </div>
      </div>
      <%= button_to "View full leaderboard", leaderboard_grouped_path, class: 'button glaring mt-3', method: :get %>
    <% end %>
  </div>

  <%= render 'counter', locals: { number: @num_groups, text: 'different server configurations' } %>
</div>

<script type="text/javascript" src="/assets/report/glare.js"></script>
