<h1 class="mb-3">
  <%= @device.display_name %>
  <span
    class="flag server-page fi fi-<%= @device.two_digit_location.downcase %> fis"
    title="<%= @device.display_name %> is located in <%= @device.full_country_name %>">
  </span>
</h1>
<p class="big-text mb-5">Entered by: <%= @device.pretty_owner %></p>

<div class="specs-rank-section mb-4">
  <%= render 'partials/specs_card', locals: { device: @device } %>

  <div class="cl-card flex-column-centred rankings-card text-center">
    <h2 class="mb-4">Rankings</h2>
    <p>
      This server's specs and location match the
      <a class="inline-link text-link text-nowrap" href="/group/<%= @device.group %>">
        <strong><%= @device.pretty_group %></strong> &nbsp;
      </a>
      group, which is at rank
    </p>
    <p class="counter mb-4"><%= @device.rank %></p>
    <p>on the OpenFlight Carbon Leaderboard.</p>
    <%= link_to "View leaderboard",
                leaderboard_grouped_path,
                class: 'button glaring mt-auto'
    %>
  </div>
</div>


<div class="full-width-section blurred-frame flex-column-centred">
  <h2>Emissions history</h2>
  <canvas id="live-emissions-chart" class="mb-5"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation/dist/chartjs-plugin-annotation.min.js"></script>
<script>
  const allData = <%= raw(@device.live_emissions_data.to_json) %>;
  const allTooltips = <%= raw(@device.live_emissions_tooltips.to_json) %>;
  const timeRange = <%= raw(@device.live_emissions_time_range.to_json) %>;
  const maxLoad = <%= raw(@device.max) %>;
  const halfLoad = <%= raw(@device.half) %>;
  const minLoad = <%= raw(@device.min) %>;
  const alcesBlue = '#2693D7';
  const borderColour = '#586674';
  const gridColour = '#FFFFFF';
  const loadLineColor = '#8f9faf';

  const ctx = document.getElementById('live-emissions-chart');
  let chart = new Chart(ctx, {
    type: 'line',
    data: {
      datasets: [{
        data: allData,
        borderWidth: 2,
        tooltips: allTooltips,
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
          title: {
            display: true,
            text: 'Equivalent CO2 emissions (g/h)',
            font: {
              size: 20,
            },
            padding: {
              bottom: 20
            }
          },
          ticks: {
            font: {
              size: 16,
            },
            maxTicksLimit: 8
          },
          grid: {
            color: gridColour
          },
          border: {
            color: borderColour
          }
        },
        x: {
          ticks: {
            color: "#666",
            font: {
              size: 16,
              weight: 'normal',
            }
          },
          grid: {
            color: gridColour
          },
          border: {
            color: borderColour
          },
          type: 'time',
          time: {
            unit: 'day',
            displayFormats: {
              'day': 'd MMM yy',
              'week': 'DD.MM',
              'month': 'do MMM',
              'year': 'MMMM',
            },
          },
          min: timeRange[0],
          max: timeRange[1],
        }
      },
      elements: {
        point: {
          pointBorderColor: alcesBlue,
          pointBorderWidth: 4,
          pointBackgroundColor: '#ffffff',
          pointRadius: 5,
          pointHitRadius: 5
        }
      },
      plugins: {
        clip: false,
        annotation: {
          annotations: {
            max: loadAnnotation(maxLoad, 'Max load'),
            half: loadAnnotation(halfLoad, 'Half load'),
            min: loadAnnotation(minLoad, 'Min load'),
          }
        },
        legend: {
          display: false
        },
        tooltip: {
          displayColors: false,
          bodyAlign: 'center',
          yAlign: 'bottom',
          bodyFont: {
            size: 16
          },
          callbacks: {
            title: function () {
              return ""
            },
            label: function (context) {
              return context.dataset.tooltips[context.dataIndex];
            }
          }
        }
      }
    }
  });

  function loadAnnotation(val, label) {
    return {
      type: 'line',
      yMin: val,
      yMax: val,
      borderColor: loadLineColor,
      borderWidth: 2,
      borderDash: [3, 3],
      label: {
        display: true,
        content: label,
        position: 'end',
        backgroundColor: 'transparent',
        color: borderColour,
        font: {
          size: 16,
          weight: 'light',
        },
        yAdjust: -12,
      }
    }
  }
</script>
