<h1>Carbon Leaderboard</h1>

<style>
table, th, td {
  border:1px solid black;
}
td {
	text-align: center;
}
</style>

<table style="width:100%" align="right">
  <tr>
    <th rowspan=2>User ID</th>
    <th colspan=2>CPU</th>
    <th colspan=2>RAM</th>
    <th colspan=4>Carbon Usage (kgCO2eq)</th>
    <th rowspan=2>Timestamp</th>
    <th rowspan=2>Platform</th>
    <th rowspan=2>Location</th>
  </tr>
  <tr>
    <th>Units</th>
    <th>Cores Per Unit</th>
    <th>Units</th>
    <th>Capacity Per Unit</th>
    <th>Minimum</th>
    <th>Half-Use</th>
    <th>Maximum</th>
    <th>Current</th>
  </tr>
	<% @reports.each do |report| %>
	  <tr>
			<td>
			  <a href="/leaderboard/<%= User.find(report.user_id).name %>">
			    <%= User.find(report.user_id).name %>
			  </a>
			</td>
			<td><%= report.cpus %></td>
			<td><%= report.cores_per_cpu %></td>
			<td><%= report.ram_units %></td>
			<td><%= "#{report.ram_capacity_per_unit} GB" %></td>
			<td><%= report.min %></td>
			<td><%= report.half %></td>
			<td><%= report.max %></td>
			<td><%= report.current %></td>
			<td><%= report.created_at %></td>
			<td><%= report.platform %></td>
			<td><%= report.location %></td>
		</tr>
	<% end %>
</table>

