<h1><%= "Data for #{@user.name}" %></h1>

<style>
table, th, td {
  border:1px solid black;
}
td {
	text-align: center;
}
</style>

<table style="width:100%">
  <tr>
    <th rowspan=2>CPUs</th>
    <th rowspan=2>RAM</th>
    <th colspan=4>Carbon Usage</th>
    <th rowspan=2>Timestamp</th>
  </tr>
  <tr>
    <th >Minimumn</th>
    <th >Half-Use</th>
    <th >Maximum</th>
    <th >Current</th>
  </tr>
	<% @reports.each do |report| %>
	  <tr>
			<td><%= report.cpus %></td>
			<td><%= report.ram %></td>
			<td><%= report.min %></td>
			<td><%= report.half %></td>
			<td><%= report.max %></td>
			<td><%= report.avg %></td>
			<td><%= report.created_at %></td>
		</tr>
	<% end %>
</table>

