<h1 class="mb-5 pb-1"><%= @user.username %></h1>

<% if @user_owns_profile %>
  <p>
    Here's your secret Auth token:
  </p>
  <p class="mb-5">
    <code class="code-block"><%= @user.auth_token %></code>
  </p>
<% end %>

<h2 class="mb-4"><%= @user_owns_profile ? 'My' : "#{@user.username}'s" %> servers</h2>
<% if @devices.empty? %>
  <%= @user_owns_profile ? "You haven't" : "#{@user.username} hasn't" %> entered any servers yet.
<% else %>
  <% @groups.each do |group| %>
    <% group_devices = @devices.where(group: group) %>
    <% dev = group_devices.first %>
    <h4 class="mb-3"><%= "#{dev.platform}-#{dev.instance_type || "Group#{dev.group}"}-#{dev.location}" %></h4>
    <div class="server-list-wrapper med-card flex-column-centred mb-4">
    <% group_devices.each do |device| %>
      <%= link_to device.display_name,
                  "/device/#{device.display_name}",
                  class: "server-in-list blurred-frame white-outline med-card big-text mb-2"
      %>
    <% end %>
    </div>
  <% end %>
<% end %>
