<% dev = @group.first %>

<h1 class="mb-5">
  <%= dev.pretty_group %>
  <span
    class="flag server-page fi fi-<%= dev.two_digit_location.downcase %> fis"
    title="<%= dev.pretty_group %> is located in <%= dev.full_country_name %>">
  </span>
</h1>

<div class="full-width specs-rank-section mb-4">
  <%= render 'partials/specs_card', locals: { device: dev } %>

  <div class="cl-card flex-column-centred text-center rankings-card">
    <h2 class="mb-4">Rankings</h2>
    <p>Servers with these specs and location are at rank</p>
    <p class="counter mb-4"><%= dev.rank %></p>
    <p>on the OpenFlight Carbon Leaderboard.</p>
    <%= link_to "View leaderboard",
                leaderboard_grouped_path,
                class: 'button glaring mt-auto'
    %>
  </div>
</div>

<div class="cl-card full-width emissions-wrapper mb-4">
  <div class="text-center">
    <h2 class="mb-4">Emissions</h2>
    <p>Over one year, running at full load, servers in this group will emit</p>
    <p class="emission-number"><%= @year_emissions %>kg</p>
    <p>equivalent CO<sub>2</sub>. That’s as much as...</p>
  </div>

  <div class="blurred-frame white-outline emission-wrapper">
    <div class="driving-wrapper">
      <span class="driving">...driving</span>
      <div class="miles">
        <span class="emission-number"><%= number_with_delimiter(@emission_conversions[:driving], delimiter: ',') %></span>
        <br>
        <span>miles</span>
      </div>
    </div>
    <div class="driving-icon-wrapper">
      <i class="fa-solid fa-car-side big-icon driving-icon"></i>
    </div>
  </div>
  <div class="blurred-frame white-outline emission-wrapper">
    <div class="burger-wrapper">
      <div class="big-mac-wrapper">
        <i class="fa-solid fa-burger big-icon"></i>
        <div>
          <span class="big-text">...making</span><br>
          <span class="emission-number"><%= number_with_delimiter(@emission_conversions[:big_mac], delimiter: ',') %></span><br>
          <span class="big-text">McDonalds</span><br>
          <span class="big-text">Big Macs...</span>
        </div>
      </div>
      <span class="mcplant mt-2">
      ...or
      <span class="emission-number">
        <%= number_with_delimiter(@emission_conversions[:mcplant], delimiter: ',') %>
      </span>
      McPlants
    </span>
    </div>
  </div>
  <div class="blurred-frame white-outline emission-wrapper">
    <% if @emission_conversions[:flight] > 0 %>
      <div class="flight-wrapper">
        <div class="people-plane">
          <div class="people mt-auto">
            <span>...</span>
            <span class="emission-number"><%= number_with_delimiter(@emission_conversions[:flight], delimiter: ',') %></span>
            <br>
            <span>people</span>
          </div>
          <i class="fa-solid fa-plane big-icon plane-icon"></i>
        </div>
        <span class="big-text mt-2">flying from <br>London to Hamburg</span>
      </div>
    <% else %>
      <div class="netflix-wrapper">
        <span class="big-text mb-2">...streaming Netflix for</span>
        <i class="fa-solid fa-tv big-icon netflix-icon"></i>
        <div class="mt-2">
          <span class="emission-number"><%= number_with_delimiter(@emission_conversions[:netflix], delimiter: ',') %></span>
          <span>hours</span>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="cl-card flex-column-centred server-list-card text-center mb-4">
  <% num_servers = @group.length %>
  <h4><%= num_servers %> server<%= num_servers == 1 ? ' has' : 's have' %> been entered with these specs and
    location</h4>
  <div class="server-list-wrapper">
    <% if @user_devices %>
      <% @user_devices.each do |user_group| %>
        <a class="text-link mt-3 mb-2" href="/user/<%= user_group[0] %>">
          <strong class="big-text"><%= current_user&.username == user_group[0] ? 'My servers' : user_group[0] %></strong>
        </a>
        <% user_group[1].each do |device_name| %>
          <%= link_to device_name,
                      "/device/#{device_name}",
                      class: "server-in-list glaring"
          %>
        <% end %>
      <% end %>
    <% end %>
    <% unless @anon_devices.empty? %>
      <p class="big-text light-text mt-3 mb-2"><strong>Anonymous</strong></p>
      <% @anon_devices.each do |device_name| %>
        <%= link_to device_name,
                    "/device/#{device_name}",
                    class: "server-in-list glaring"
        %>
      <% end %>
    <% end %>
  </div>
</div>
