<% dev = @group.first %>

<h1 class="mb-5">
  <%= dev.pretty_group %>
  <span
    class="flag server-page fi fi-<%= dev.two_digit_location.downcase %> fis"
    title="<%= dev.display_name %> is located in <%= dev.full_country_name %>">
  </span>
</h1>

<div class="d-flex">
  <%= render 'partials/specs_card', locals: { device: dev } %>

  <div class="cl-card flex-column-centred server-list-card">
    <h3 class="mb-4">In this group...</h3>
    <div class="server-list-wrapper full-width">
      <% @group.each do |device| %>
        <%= link_to device.display_name,
                    "/device/#{device.display_name}",
                    class: "server-in-list blurred-frame white-outline full-width big-text mb-2"
        %>
      <% end %>
    </div>
  </div>
</div>
